<p>
  login works!
</p>

<h1>gdfgfgfgfgfgfgvgfg</h1>
<div class="wrap">
  <form>
  <h1>ADMIN LOGIN</h1>
    <input type="text" placeholder="Enter Username" name="uname" required/><br/>
    <input type="password" placeholder="Enter Password" name="pwd" required/><br/>
    <button type="submit">LOGIN</button>
  </form> 
</div>
<div class="logo">
    <img src="http://innerspace.net.in/images/logo.png" height="200px" width="200px"/>  
</div>
<a routerLink="/homepage"><h1>homepage</h1></a>
<a routerLink="/productlist"><h1>product list</h1></a>








